---
const {title, description, icon} = Astro.props
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href={icon} />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>
<meta name="description" content={description}>
