---
import config from "../config.json";
---

<ul>
    {
        Object.entries(config.links).map((entry) => (
            <a href={entry[1]}>{entry[0]}</a>
        ))
    }
</ul>

<style lang="scss">
    ul {
        display: flex;
        flex-direction: column;
        align-items: start;

        a {
            color: var(--text);
            font-size: 1.25rem;
            margin: 0.25rem;
        }
    }
</style>
